<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <!-- <div class="tb-position--absolute tb-height--full"> -->
    <!-- <div class="background-bar">

        <div class="tb-container vertical-line-container" fxLayoutAlign="space-between stretch">
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
            <div class="vertical-lines"></div>
        </div>
    </div> -->
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

            <h2 [@transitionText]="{value:_mTriggerAnim, params:{animDelay:1}}" ngClass.gt-sm="current-typo--h3-light"
                ngClass.sm="current-typo--h3-light" ngClass.xs="current-typo--h4">Experience.</h2>

            <div ngClass.gt-xs="tb-height--56" ngClass.xs="tb-height--20"></div>


            <div fxLayout="column" class="timeline-container">
                <div fxLayout="row" fxLayoutAlign="start stretch" class="timeline-item">
                    <!-- Timeline Line and Dot -->
                    <div class="timeline-dot-container">
                        <div class="timeline-dot"></div>
                        <div class="timeline-line"></div>
                    </div>

                    <!-- component.html -->
                    <div class="experience-content">
                        <app-expertise-item jobType="Associate Software Engineer" [parts]='["Azilen Technologies"]' [descriptions]="description1">
                        </app-expertise-item>
                      </div>


                </div>

                <div fxLayout="row" fxLayoutAlign="start stretch" class="timeline-item">
                    <div class="timeline-dot-container">
                        <div class="timeline-dot"></div>
                        <div class="timeline-line"></div>
                    </div>

                    <div class="experience-content">
                        <app-expertise-item jobType="Software Engineer Intern" [parts]='["Azilen Technologies"]'
                            [descriptions]="description2">
                        </app-expertise-item>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start stretch" class="timeline-item">
                    <div class="timeline-dot-container">
                        <div class="timeline-dot"></div>
                        <div class="timeline-line"></div>
                        <!-- Last item: no vertical line -->
                    </div>

                    <div class="experience-content">

                        <app-expertise-item jobType="Full Stack Developer Intern"
                            [parts]='["Tech Celerity Global Solutions Pvt. Ltd."]' [descriptions]="description3">
                        </app-expertise-item>
                    </div>
                </div>
            </div>








            <div ngClass.gt-xs="tb-height--56" ngClass.xs="tb-height--20"></div>

            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="tools-title current-typo--h4 tb-flex--shrink-0">Tools and Technologies.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>
            <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--20"></div>

            <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 600}}" fxLayout="row wrap"
                fxLayoutGap="16" fxLayoutGap.xs="8">

                <ng-container *ngFor="let tool of _mTools">

                    <a class="tool unlink current-elevation--2" [style.backgroundColor]='tool?.color ?? "#fff" '
                        fxLayout="row" fxLayoutGap="8" fxLayoutAlign="start center" target="_blank" rel="noopener"
                        [href]="tool.link">

                        <div class="tool-image-area">

                            <img class="tb-image" [src]="tool.logo" />
                        </div>

                        <h5 class="current-typo--h5" [style.color]='tool?.color ? "#fff" : "#000"'
                            ngClass.xs="current-typo--h6">{{tool.name}}</h5>

                    </a>
                </ng-container>

            </div>




        </div>
    </div>
</div>