<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div fxLayout="column" fxLayoutAlign="start stretch">

        <p [@transitionText]="{value:_mTriggerAnim,  params: {animDelay: 0.1}}"
            class="section-detail tb-color--black-54" ngClass.gt-sm="current-typo--body1"
            ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
            Some of the projects, which I have made recently as a Full Stack Developer. 
        </p>

        <div ngClass.gt-xs="tb-height--40" ngClass.xs="tb-height--20"></div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.gt-xs="8" fxLayoutAlign.gt-xs="space-between center"
            fxLayoutAlign.xs="start stretch">
            <ng-container *ngFor="let app of _mClientApps">


                <app-app-item [name]="app.name" [link]="app.link" [image]="app.image" [color]="app.color">
                </app-app-item>
            </ng-container>
        </div>
    </div>
</div>