<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm">
    <div class="tb-container tb-position--relative container">

        <div class="content-container" fxLayout="column">
            <!-- <div ngClass.gt-sm="tb-height--36" ngClass.sm="tb-height--20" ngClass.xs="tb-height--2"></div> -->

            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--45" ngClass.xs="tb-height--45"></div>
            <h4 [@transitionTextEnter]="{value:'in', params: {animDelay: 200}}" ngClass.gt-sm="current-typo--h4"
                ngClass.sm="current-typo--h5" ngClass.xs="current-typo--h5">Hi, I'm Nihal Shah</h4>
            <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--12" ngClass.xs="tb-height--12"></div>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 300}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">Passionate Developer</h2>

            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 400}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">Crafting</h2>
                <div ngClass.gt-sm="tb-height--12" ngClass.sm="tb-height--12" ngClass.xs="tb-height--12"></div>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 500}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">Impactful Software</h2>
            <!-- <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 600}}"
                 class="current-typo--h3"
                ngClass.sm="current-typo--h3-light">Obsession to</h2> -->
            <div ngClass.gt-sm="tb-height--48" ngClass.sm="tb-height--16" ngClass.xs="tb-height--8"></div>

            <p [@transitionTextEnter]="{value:'in', params: {animDelay: 700}}"
                (@transitionTextEnter.done)='_onTextAnimationEnd($event)' class="detail tb-color--black-54"
                ngClass.gt-sm="current-typo--body1" ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
                I’m a <b>Full Stack Developer</b>. Currently, I
                am pursuing my <b>Masters in Computer Science</b>, from <b>California State University - Long Beach.</b> <br>Currently, I am exploring the field of <b>Generative AI in Software Engineering.</b> </p>

                <div ngClass.gt-sm="tb-height--48" ngClass.sm="tb-height--16" ngClass.xs="tb-height--8"></div>

                <p [@transitionTextEnter]="{value:'in', params: {animDelay: 700}}"
                (@transitionTextEnter.done)='_onTextAnimationEnd($event)' class="detail tb-color--black-54"
                ngClass.gt-sm="current-typo--body1" ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
                <b>CONNECT WITH ME :</b></p>

                <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--16" ngClass.xs="tb-height--8"></div>


                <div [@transitionTextEnter]="{value:'in', params: {animDelay: 20}}"
                (@transitionTextEnter.done)='_onTextAnimationEnd($event)' class="detail tb-color--black-54"
                ngClass.gt-sm="current-typo--body1" ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px">
                    <a href="https://github.com/nihalashah" target="_blank" matTooltip="github">
                        <button mat-icon-button>
                            <mat-icon svgIcon="github" class="tb-icon--48 tb-color--grey-500"></mat-icon>
                        </button>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/nihal-shahh/" target="_blank" matTooltip="linkedin">
                        <button mat-icon-button>
                            <mat-icon svgIcon="linkedin" class="tb-icon--48 tb-color--grey-500"></mat-icon>
                        </button>
                    </a>
                    
                    <div class="x-icon">
                    <a href="https://x.com/nihal_shahh" target="_blank" matTooltip="x">
                        <button mat-icon-button>
                            <mat-icon svgIcon="x" class="tb-icon--48 tb-color--grey-500"></mat-icon>
                        </button>
                    </a>
                    </div> 
                </div>
                
            </div>
                

                
            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--72" ngClass.xs="tb-height--72"></div>
        </div>
    </div>
</div>