<div [@transitionReveal]="{value:_mTriggerAnim, params: {animDelay: 500}}" class="footer-wrap" #animRefView>
    <div class="footer-bg">
        <div class="grid"></div>
        <div class="big-name">NIHAL SHAH</div>
    </div>

    <div class="tb-container footer-inner">

        <div class="top-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="40px">

            <div class="brand" fxFlex="40" fxFlex.lt-md="none">
                <h3 class="logo-text">Nihal Shah</h3>
                <p class="tagline">Software Engineer building distributed systems &amp; cloud-native infrastructure.</p>
                <div class="status">
                    <span class="dot"></span>
                    <span>Available for new opportunities</span>
                </div>
            </div>

            <div class="links" fxFlex fxLayout="row wrap" fxLayoutGap="40px" fxLayoutGap.xs="24px">
                <div class="col">
                    <h5 class="col-title">Connect</h5>
                    <a href="mailto:nihalshah.dev&#64;gmail.com" class="link">Email</a>
                    <a href="https://github.com/nihalashah" target="_blank" rel="noopener" class="link">GitHub</a>
                    <a href="https://www.linkedin.com/in/nihal-shahh/" target="_blank" rel="noopener" class="link">LinkedIn</a>
                </div>
                <div class="col">
                    <h5 class="col-title">Work</h5>
                    <a href="https://github.com/nihalashah" target="_blank" rel="noopener" class="link">Projects</a>
                    <span class="link static">Univsoftware</span>
                </div>
                <div class="col">
                    <h5 class="col-title">Location</h5>
                    <span class="link static">Los Angeles, CA</span>
                    <span class="link static">+1 (925) 699-5479</span>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="bottom-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <p class="copy">© 2026 Nihal Shah. Crafted with Angular &amp; lots of espresso.</p>
            <div class="socials" fxLayout="row" fxLayoutGap="14px">
                <a href="https://github.com/nihalashah" target="_blank" rel="noopener" matTooltip="GitHub" class="social-btn">
                    <mat-icon svgIcon="github" class="tb-icon--16"></mat-icon>
                </a>
                <a href="https://www.linkedin.com/in/nihal-shahh/" target="_blank" rel="noopener" matTooltip="LinkedIn" class="social-btn">
                    <mat-icon svgIcon="linkedin" class="tb-icon--16"></mat-icon>
                </a>
                <a href="mailto:nihalshah.dev&#64;gmail.com" matTooltip="Email" class="social-btn">
                    <mat-icon class="tb-icon--16">email</mat-icon>
                </a>
            </div>
        </div>
    </div>
</div>
